<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carniel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   
    <header class="topo">
        Multiclínica Carniel
    </header>
    <div class="container">
        <header>
            <h1>Ocorreu um erro em tempo de execução!</h1>
        </header>
        <section>
            <p>
                <strong>Detalhes:</strong>
                <%- error.message %>
                <a href="/">Página inicial</a>
            </p>
        </section>  
    </div>
    <footer class="footer">
        <small>Copyright@ 2018</small>
    </footer>
</body>

</html>