<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carniel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
   
    <header class="topo">
        Multiclínica Carniel
    </header>
    <div class="container">
        <section class="menu">
                <p>Bem-vindo,
                        <%= usuario.nome %>
                    </p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <a href="/cadPaciente">Cadastro de Pacientes</a>
                </li>
                <li class="list-group-item list-group-item-action">
                    <a href="/listaPacientes">Lista Pacientes</a>
                </li>
                
                <br/>
                <br/>
                <div class="btn_div">
                        <a class="btn" href="/logout">Logout</a>
                </div>
                
            </ul>
        </section>
        
    </div>
    <footer class="footer">
        <small>Copyright@ 2018</small>
    </footer>
</body>

</html>